[submodule "AK Apolo/libs/LastFMData"]
	path = AK Apolo/libs/LastFMData
	url = https://github.com/LPacione/AK-Apolo3-LastFMData.git
[submodule "AK-Hera2-NYTimesData"]
	path = AK-Hera2-NYTimesData
	url = https://github.com/GiannFrancoo/AK-Hera2-NYTimesData.git
